$color-left-button:#87c8b0;
$color-left-button-active:#4caf89;
$color-right-button:#e3c795;
$color-right-button-active:#bd9851;
$focusColor :#4e90cd;
$borderFocus:#4e90cd;
$borderText:#4e90cd;
$fontColorRed:#4e90cd;
@import '../Page/App/_App.scss';
