@import "base";
.header{
	background-color:$whiteColor;
	@include border(#e2e2e2,0,0 0 1px 0,4);
}
.orgInfo{
	background-color:$whiteColor;
	/* font-size:$fontSize2 !important; */
	@extend .fontSize2;
	line-height:pxToRem(90);
	height:pxToRem(90);
	position:relative;
	z-index:3;
	.focusorg{
		padding-left:pxToRem(28);
		color:$fontColorBlack;
		@extend %overText;
		padding-right:pxToRem(80);
		position:relative;
		i{
			position:absolute;
			top:pxToRem(0);
			right:pxToRem(0);
		}
	}
	.orgList{
		position:absolute;
		z-index:1;
		background-color:$whiteColor;
		width:100%;
		padding:0;
		border-top:1px solid $borderColor2;
		div{
			margin-left:pxToRem(60);
			border-bottom:1px solid $borderColor2;
			@extend %overText;
			&:last-child{
				border:none;
			}
			&.focusorg{
				color:$focusColor;
				padding:0;
			}
		}
	}
}
.mask{
	background-color:rgba(0,0,0,0.5);
	position:fixed;
	width:100%;
	height:100%;
	z-index:2;
	left:0;
	top:0;
	margin-left:0 !important;
}