@import "base";
.header{
	background-color:$whiteColor;
}
.mapContainer{
	border:1px solid #cecece;
	overflow:hidden;
	position:relative;
	i{
		position:absolute;
		@extend .fontSize4;
		top:pxToRem(50);
		right:pxToRem(20);
		color:$fontColorGray;
	}
	.smallMap{
		width:pxToRem(190);
		height:pxToRem(172);
		@extend .fl;
	}
	.mapAdress{
		@extend .fl;
		margin-left:pxToRem(28);
		/* font-size:$fontSize1; */
		@extend .fontSize1;
		padding-top:pxToRem(20);
		width:pxToRem(425);
		h2{
			color:$fontColorBlack;
			@extend .fontSize2;
			margin-bottom:pxToRem(15);
			@extend %overText;
		}
		p{
			color:$fontColorGray;
			line-height:1.6;
		}
	}
	.replay{
		text-decoration: underline;
	}
}
.signRecord{
	top:pxToRem(390);
	position:absolute;
	bottom:0;
	width:100%;
	padding-right:0 !important;
	padding-left:0 !important;
	&.sr2{
		top:pxToRem(330);
	}
}
.nodata{
	color:#999;
	text-align:center;
	position:absolute;
	top:pxToRem(300);
	width:100%;
	left:0;
	font-size:16px;
}
.mapicon{
	color:$focusColor;
	font-size:22px;
}
.orgInfo{
	background-color:$whiteColor;
	/* font-size:$fontSize2 !important; */
	@extend .fontSize2;
	line-height:pxToRem(90);
	height:pxToRem(90);
	position:relative;
	z-index:3;
	.focusorg{
		padding-left:pxToRem(28);
		color:$fontColorBlack;
		@extend %overText;
		padding-right:pxToRem(80);
		position:relative;
		i{
			position:absolute;
			top:pxToRem(0);
			right:pxToRem(0);
		}
	}
	.orgList{
		position:absolute;
		z-index:1;
		background-color:$whiteColor;
		width:100%;
		padding:0;
		border-top:1px solid $borderColor2;
		div{
			margin-left:pxToRem(60);
			border-bottom:1px solid $borderColor2;
			@extend %overText;
			&:last-child{
				border:none;
			}
			&.focusorg{
				color:$focusColor;
				padding:0;
			}
		}
	}
}
.mask{
	background-color:rgba(0,0,0,0.5);
	position:fixed;
	width:100%;
	height:100%;
	z-index:2;
	left:0;
	top:0;
	margin-left:0 !important;
}
.amap-logo,.amap-copyright,.amap-controls,.datepicker-months,.datepicker-years{
  display: none;
}
.timer{
	background:$whiteColor;
	padding-left:pxToRem(28);
	color:$fontColorGray;
	@include height-dpr(14px);
	&.onlyOne{
		padding-top:pxToRem(20);
	}
}

.listSign{
	overflow:auto;
	background-color:$whiteColor;
	margin-left:pxToRem(30);
	.item{
		&.error,&.loc-error{
			color:#fa565a;
		}
		display: flex; 
		flex-flow: row;
		clear:both;
		.time{
			float:left;
			/* width:pxToRem(132); */
			/* font-size:$fontSize4; */
			@extend .fontSize4;
      		font-family: 'Microsoft Yahei', 'Hiragino Sans GB', Helvetica;
      		line-height:1;		
      		padding-right:pxToRem(20);
      	}
		.title{
			/* font-size:$fontSize2; */
			@extend .fontSize2;
		}
		.desc{
			/* font-size:$fontSize1; */
			@extend .fontSize1;
			float:left;
			border-bottom:1px solid #cecece;
			padding-bottom:pxToRem(30);
			padding-right:pxToRem(32);
			margin-bottom:pxToRem(30);
			/* width:pxToRem(585); */
			flex:1;
		}
		.position{
			/* font-size:$fontSize1; */
			@extend .fontSize1;
			margin:pxToRem(20) 0 0 0;
			color:#928989;
			i{
				font-size:pxToRem(32);
				color:#b4b4b4;
				margin-right:pxToRem(12);
				vertical-align: middle;
			}
		}
		.remark{
			margin:pxToRem(20) 0 0 0;
			/* width:pxToRem(540); */
			/* font-size:$fontSize1; */
			@extend .fontSize1;
			color:#544b4b;
			line-height:1.5;
		}
	}
}
.bottomButton{
	position:fixed;
	bottom:0;
	width:100%;
	text-align:center;
	&.bigButton{
		background: -webkit-linear-gradient(rgba(255,255,255,0), rgba(255,255,255,1)); /* Safari 5.1 - 6.0 */
		background: -o-linear-gradient(rgba(255,255,255,0), rgba(255,255,255,1)); /* Opera 11.1 - 12.0 */
		background: -moz-linear-gradient(rgba(255,255,255,0), rgba(255,255,255,1)); /* Firefox 3.6 - 15 */
		background: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,1)); /* ��׼���﷨ */
	}
	&.disabled{
		.button{
			a{
				background-color: #dfdfdf !important;
			}
		}
	}
	.button{
		display:inline-block;
		margin:0 pxToRem(90);
		p{
			line-height:pxToRem(65);
			color:#282828;
		}
		a{
			width:pxToRem(160);
			height:pxToRem(160);
			line-height:pxToRem(160);
			display:block;
			border-radius:pxToRem(80);
			color:#fff;
			font-size:pxToRem(60);
		}
		&.lbutton a{
			background-color:#4ec2b5;
			&:active{
				background-color:#21a497;
			}
		}
		&.rbutton a{
			background-color:#efbc6b;
			&:active{
				background-color:#d2974d;
			}
		}
	}
	&.smbutton {
		width:50%;
		margin-bottom:pxToRem(280);
		.button{
			margin:0 0 0 pxToRem(40);
			a{
				width:pxToRem(140);
				height:pxToRem(140);
				line-height:pxToRem(140);
				/* font-size:$fontSize2; */
				@extend .fontSize2;
				font-family:$fontFamily;
			}
		}
	}
}
.imgList{
	overflow: hidden;
	margin-top:pxToRem(20);
	img{
		width:pxToRem(100);
		height:pxToRem(100);
		display:inline-block;
		margin-right:pxToRem(15);
	}
}
.pdbtn{
	padding-bottom:pxToRem(160);
	background-color: #fff;
}
.acuteDialog{
	i{
		font-size:45px;
		display:block;
		text-align:center;
		margin:0 auto;
		color:$focusColor;
		margin:pxToRem(60) auto pxToRem(30) auto;
	}
	.title{
		@extend .fontSize17;
		text-align:center;
		color:$fontColorBlack;
		margin-bottom:pxToRem(60);
	}
	.info{
		@extend .fontSize13;
		text-align:center;
		color:$fontColorBlack;
		margin-bottom:pxToRem(40);
	}
}